/* src/App.css */
body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  background-color: #fafafa; /* just a hint of warmth */
  color: #111; /* dark text */
}

.app-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
}
